<div class="body">
    <div class = "text">
 <h1>As MELHORES Estratégias simples para aumentar suas vendas na retomada!</h1>
 <h2>Receba um Guia exclusivo para PEQUENOS EMPRESÁRIOS dono de <br> comércio local, retomarem as suas vendas de forma simples e sem custo extra! <br>
  DIRETO AO PONTO para você começar a aplicar hoje mesmo!</h2>

  <h2>Conversamos com OS MELHORES ESTRATEGISTAS E EMPREENDEDORES <br> DE TODO O BRASIL e construimos esse material com as <br> 
    melhores e mais simples estratégias pra você.</h2>


    <h2 style="font-weight: bold;">Pegue o seu agora, é grátis!</h2>
    </div>
    <img src="" alt="">

      <form role="form" method="POST" action="https://smtl.gama.academy/leads/7f2b9633-dcac-11ea-91f1-99fb0c9231dc">
        <div class="form">

          <div class="inputs">
            <label >
              nome
            </label>
            <input
            name="name"
            type="text"
            pattern="^\D{2,}\s[\D\s]{2,}$"
            title="Digite seu nome completo"
            class="form-control" 
            id="name"
            required
          />

          </div>
          <div class="inputs">
            <label >
              e-mail
            </label>
          <input
            name="email"
            type="email"
            title="Digite um email válido"
            required
            class="form-control" 
            id="name"
          />
          </div>
          
          <div class="inputs">
            <label >
              telefone/whatsapp
            </label>
          <input
            name="tel"
            type="tel"
            title="Digite o seu número para contato"
            required
            class="form-control" 
            id="name"
          />
          </div>
          <div class="inputs">
            <label for="exampleFormControlSelect1">ocupação</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>Sou Empresário(a)/Empreendedor(a)</option>
              <option>Trabalho de Autônomo(a)</option>
              <option>Trabalho de Carteira Assinada</option>
              <option>Estou montando o meu negócio</option>
            </select>
          </div>


        <!-- REMOVER ESSE DEBUGMODE DEPOIS. -->
        <!-- <input name="debugMode" type="hidden" value="true" /> -->

        <!-- LINHA ABAIXO PARA TESTE LOCAL. -->
        <!-- <input name="redirectTo" type="hidden" value="http://localhost:4500/thankyou" /> -->

        <!-- LINHA ABAIXO PARA QUANDO O SITE FOR PARA O AR. -->
        <input name="redirectTo" type="hidden" value="http://paglocal.com.br/thankyou" />

            <button type="submit">BAIXAR CONTEÚDO!</button>

            <!-- APENAS UM EXEMPLO DE COMO ACESSAR A OUTRA PÁGINA -->
            <!-- <button type="submit" routerLink="/thankyou">EXEMPLO</button> -->

        </div>
      </form>

      <div class="img">
        <img src="../../assets/images/mockup-capa.png" alt="">
      </div>
</div>

<div class="white-background">
  <div >
 <h1 class="list"> Neste material você vai aprender:</h1>
   <li>
    VANTAGENS em Digitalizar seu negócio (e DADOS que comprovam o que a gente fala)!!
  </li>
  <li>Como transformar o DESAFIO da Retomada em Oportunidade;</li>
  <li>Os primeiros passos para DIGITALIZAR SEU NEGÓCIO e ALCANÇAR MAIS CLIENTES!;</li>
  <li>As MELHORES PRÁTICAS para DIVULGAR seu produto no INSTAGRAM;</li>
  <li>Atendimento por WhatsApp: O que você Precisa saber para NÃO PERDER CLIENTES;</li>  
  </div>
<img src="../../assets/images/banner-capa.png" alt="">

<hr> 

  <div class="footer">
    <!-- <p>Todos os direitos reservados 2020</p> -->
    <img src="../../assets/images/Logo.png" alt="">
  </div>
</div>
 

