.header {
    height: 100px;
    display:flex;
    justify-content: space-around;
  
}
img {
    width: 200px;
    
    
}
h2{
    float:right;
    margin-top:59px;
    color: #4F4F4F;
    font-size: 20px;
}
